.webContainer{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 25px;
}

.headerContainer{
}

.contentContainer{ 
  background-color: beige;
  opacity: 1;
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
}